@Model.ModelCount new stories<br><br>


<img src=\"\" alt=\"\" height=\"16\" width=\"16\">  <font color=\"#ebad02\">@Model.Name</font> - <font color=\"#dedbd5\">@Model.Elapsed</font><br><br>

<a href=\"\"><font color=\"green\"><b>@Model.Title</b></font></a><br><br>

@Model.Body <a href=\"@Model.ImageUrl\"> more</a><br>
<hr width=\"100% \">


